<nav>
    <div class="site-title">
        <a href="/">
            <h2>Weather</h2>
        </a>
    </div>
    <ul>
        <li><a href="/">Weather</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/help">Help</a></li>
    </ul>
</nav>