<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/header')  %> 
<body>
	<%- include('./partials/nav')  %> 

	<div class="main-content">
		<h1>About</h1>
		<p>This site is created by Suhaib Knight. It uses mapbox and weatherstack api.</p>
	</div>
	<%- include ('./partials/footer') %> 
</body>
</html>