<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/header')  %> 
<body>
	<%- include('./partials/nav')  %> 
</body>
	<h1>Help</h1>
	<div class="main-content">
		<p class="about">If you have any question reach out to me.</p>
		<h3>Contact:suhaibknight@gmail.com</h3>
	</div>
	<%- include ('./partials/footer') %> 
</html>