<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/header')  %> 
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
	<body>
	<%- include('./partials/nav')  %> 

	<div class="main-content">
		<h1>This is where you get your weather information.</h1>
		<div id="content">
			<form class="addressForm">
				<input type="text" placeholder="Location">
				<button type="submit">Search</button>
				<button id="my-pos">My Position</button>
			</form>
	
			<p class="msg" id="msg-1"></p>
			<p class="msg" id="msg-2"></p>

		</div>

		<div id="map"></div>
		
	</div>
	<%- include ('./partials/footer') %> 
	
	<script src="/dist/bundle.js"></script>
</body>
</html>