@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
body{
	max-width: 1200px;
	margin: 20px auto;
	padding: 0 20px;
	font-family: 'Noto Serif', serif;

	display: flex;
	flex-direction: column;
	min-height: 90vh;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.main-content{
	flex-grow: 1;
}
p, h1, h2, h3, a, ul{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #222;
}

p.about{
	margin-top: 10px;
}

/* nav & footer styles */
nav{
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
nav ul{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	text-transform: uppercase;
}
nav li{
	list-style-type: none;
	margin-left: 20px;
}
nav h2{
	font-size: 3.5em;
}
nav p, nav a{
	color: #777;
	font-weight: 300;
}
footer{
	color: #777;
	text-align: center;
	margin: 80px auto 20px;
}
h2{
	margin-bottom: 40px;
}
h3{
	/* text-transform: capitalize; */
	margin-top: 10px;
}
.content{
	margin-left: 20px;
}

/* index styles */
.blogs a{
	display: block;
	margin: 40px 0;
	padding-left: 30px;
	border-left: 6px solid crimson;
}
.blogs a:hover h3{
	color: crimson;
}


/* details styles */

.details{
	position: relative;
}
.delete{
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	padding: 8px;
}
.delete:hover{
	cursor: pointer;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

/* create styles */
.create-blog form{
	max-width: 400px;
	margin: 0 auto;
}
.create-blog input,
.create-blog textarea{
	display: block;
	width: 100%;
	margin: 10px 0;
	padding: 8px;
}
.create-blog label{
	display: block;
	margin-top: 24px;
}
textarea{
	height: 120px;
}

.msg{
	margin: 10px;
}

form{
	margin: 12px;
}

input{
	border: 1px solid #cccccc;
	padding: 8px;
}

button{
	cursor: pointer;
	border: 1px solid #888888;
	background: #888888;
	color: white;
	padding: 8px;
}

#content{
	width: 40%;
	float: left;
}

#map{
	width: 60%;
	float: right;
	margin-top: 10px;
	height: 60vh;
}